 <div class="page500">
   <img src="assets/images/500.png" alt="500.png">
   <a class="link"> Back to chats</a>
     <div class="links">
    <a onclick="window.navigate('404-error')">404</a>
    <a onclick="window.navigate('settings')">settings-page</a>
    <a onclick="window.navigate('login')">login-page</a>
    <a onclick="window.navigate('registration')">registration-page</a>
  </div>
 </div>