<div class="message-list">
  {{!-- {{#each messages}}
    {{> message-item}}
  {{/each}} --}}
  {{> MessageItem isUserMessage="true" text="прив" timestamp="11:11" }}
  {{> MessageItem text="прив" timestamp="11:11" }}
</div>
