{{#> Dialog }}
<div class="login-page-wrapper">
  <form class="login-page">
    <div class="login-header">   
      <img src="assets/images/lock.png" alt="lock.png">
      <h1 class="h1">Welcome back</h1>
    </div>
  
    <main class="login-page-content">
      {{{ input_login }}}
      {{{ input_password }}}
    </main>
    <div class="login-page-footer">
      {{{ button_primary }}} 
      {{{ button_secondary }}} 
    </div>
  </form>
   </div>
{{/ Dialog }}

