{{#> Dialog }}
<div class="login-page-wrapper">
  <form class="login-page">
    <div class="login-header">   
      <img src="assets/images/lock.png" alt="lock.png">
      <h1 class="h1">Welcome back</h1>
    </div>
  
    <main class="login-page-content">
      {{{ input_login }}}
      {{{ input_password }}}
    </main>
    <div class="login-page-footer">
      {{{ button_primary }}} 
      {{{ button_secondary }}} 
    </div>
  </form>
   <nav class="links">
    <a onclick="window.navigate('404-error')">404</a>
    <a onclick="window.navigate('settings')">settings-page</a>
    <a onclick="window.navigate('500-error')">500</a>
    <a onclick="window.navigate('registration')">registration-page</a>
    <a onclick="window.navigate('chat')">chat-page</a>
  </nav>
  </div>
{{/ Dialog }}

