 <main class="page404">
   <img src="assets/images/404.png" alt="404.png">
   <a class="link"> Back to chats</a>
   <nav class="links">
    <a onclick="window.navigate('500-error')">500</a>
    <a onclick="window.navigate('settings')">settings-page</a>
    <a onclick="window.navigate('login')">login-page</a>
    <a onclick="window.navigate('registration')">registration-page</a>
    <a onclick="window.navigate('chat')">chat-page</a>
  </nav>
 </main>

