<div class="chat-page">
  <div class="chat-sidebar">
  {{> ProfileSettings className='profile-settings'}}
  {{> InputSearch className='search-container' }}
 {{> ChatSidebar  }}
</div>
<div class="message-block">
  {{> MessageUser userName="Петя"}}
  <div class="messages">
    {{> MessageList }}
  </div>
  {{> InputMessage }}
</div>
</div>

