@import url('@/assets/variables.css');


.chat-page {
  box-sizing: border-box;
  height: 98vh;
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 60px;
  overflow: hidden;

}

  .search-container, .profile-settings {
    margin-bottom: 16px;
  }

.message-block {
  flex-grow:1;
  display: flex;
  flex-direction: column;
}



 
