{{#> Dialog }}
  <form class="settings-page">
    <div class="settings-header">   
      <img src="assets/images/avatar.png" alt="avatar.png">
    </div>
  
    <div class="settings-page-content">

      {{> InputField title="First name" name="first_name" id="first_name" type="text"}}
      {{> InputField className="login-page__input" title="Second name" name="second_name" type="text" id="second_name" }}
      {{> InputField className="login-page__input" title="Display name" name="display_name" type="text" id="display_name" }}
      {{> InputField title="Email" name="email" id="email" type="text"}}
      {{> InputField title="Phone" name="phone" id="phone" type="text"}}
      {{> InputField title="Login" name="login" id="login" type="text"}}
      {{> Button text="Change password" className="button-onPage" id="changePasswordBtn"}}
      <div class="settings-password">
      {{> InputField title="Old password" name="oldPassword" id="oldPassword" type="password"}}
       {{> InputField title="New password" name="newPassword" id="newPassword" type="password"}}
       </div>
    </div>
    <div class="settings-page-footer">
      {{> Button text="Save" page="chat" className="button-primary"}}
    
    </div>

  </form>
 <div class="links">
    <a onclick="window.navigate('500-error')">500</a>
    <a onclick="window.navigate('404-error')">404</a>
    <a onclick="window.navigate('login')">login-page</a>
    <a onclick="window.navigate('registration')">registration-page</a>
  </div>


{{/ Dialog }}

